<p style="color: green"><%= notice %></p>

<h1>Все диспетчеры</h1>

<div id="dispatchers">
  <% @dispatchers.each do |dispatcher| %>
    <%= render dispatcher %>
    <p>
      <%= link_to "Подробнее", dispatcher %>
    </p>
  <% end %>
</div>

<%= link_to "Добавить нового", new_dispatcher_path %>
