<p style="color: green"><%= notice %></p>

<h1>Автомобили</h1>

<div id="autos">
  <% @autos.each do |auto| %>
    <%= render auto %>
    <p>
      <%= link_to "Посмотреть", auto %>
    </p>
  <% end %>
</div>

<%= link_to "Добавить новый", new_auto_path %>
