<div id="<%= dom_id driver %>">
  <p>
    <strong>Имя:</strong>
    <%= driver.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= driver.email %>
  </p>

  <p>
    <strong>Номер телефона:</strong>
    <%= driver.phone %>
  </p>

</div>
